<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ranking</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let classificacao of classificacoes">
      <ion-avatar slot="start">
        <img src="/assets/img/avatar.svg" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{ classificacao.nomeUsuario }}</h2>
        <h3 *ngIf="classificacao.pontos !== 1">{{ classificacao.pontos }} pontos</h3>
        <h3 *ngIf="classificacao.pontos === 1">{{ classificacao.pontos }} ponto</h3>
        <p nowrap>{{ classificacao.data }}</p>
      </ion-label>
      <ion-note slot="end">{{ classificacao.ordem }}º</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
