<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/avatar.svg" alt="Avatar">
      </ion-avatar>
      <ion-input placeholder="Informe seu nome" maxlength="30" [(ngModel)]="usuario.nome" (ionBlur)="salvar()"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>Música</ion-label>
    <ion-toggle slot="end" name="blueberry" [(ngModel)]="usuario.configuracao.audioFundoLigado" (ionChange)="salvar()">
    </ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Efeitos sonoros</ion-label>
    <ion-toggle slot="end" name="blueberry" [(ngModel)]="usuario.configuracao.audioEfeitosLigado" (ionChange)="salvar()">
    </ion-toggle>
  </ion-item>
</ion-content>
